body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: black;
}

#piano {
    height: 340px;
    padding: 0px 30px 0 30px;
    background-color: #fc4445;
    border-radius: 10px;
}

p {
    font-family: cursive;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 3px;
    opacity: .8;
    font-size: 2rem;
    margin-top: 30px;
}
.keys {
    position: relative;

}

.black-keys {
    position: relative;
    display: flex;
}

.white-keys {
    display: flex;
}
.white-key {
    width: 68px;
    height: 258px;
    border-radius: 0 0 5px 5px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: white;
}

.black-key {
    width: 38px;
    height: 160px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: absolute;
    background-color: black;
}

.black-key:nth-child(1) {
    left: 48px;
}

.black-key:nth-child(2) {
    left: 117px;
}

.black-key:nth-child(3) {
    left: 253px;
}

.black-key:nth-child(4) {
    left: 320px;
}

.black-key:nth-child(5) {
    left: 389px;
}

.black-key:nth-child(6) {
    left: 525px;
}

.black-key:nth-child(7) {
    left: 594px;
}

.black-key:nth-child(8) {
    left: 662px;
}

.black-key:nth-child(9) {
    left: 797px;
}

.black-key:nth-child(10) {
    left: 865px;
}